header.ant-layout-header{
    height: 125px;
    background: lightblue;
}
.NavbarL {
    margin-right: auto;
    transform: scale(0.9);
    font-size: 1px;
  }
  .NavbarL:hover {
    opacity: 0.7;
  }
.NavbarR {
    display: flex;
    padding: 0px 100px;
    transform: scale(1.1);
    vertical-align: middle;
}
.Navbar {
    display: flex;
    align-items: center;
}

.NavbarR a{
    display: flex;
    margin-left: 25px;
}

.NavbarR Button{
    width: 200px;
    font-size: 15px;
}