.post-grid {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
}

.post-grid > div {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  border-radius: 10px;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .post-grid {
    grid-template-columns: 20% 20%;
    justify-content: center;
  }
}

.profile-grid {
display: grid;
grid-template-columns: 30%;
grid-template-rows: 1fr;
grid-gap: 2rem;
margin: 0 auto;
padding: 10px;
justify-content: center;
}

.profile-grid > div {
background-color: rgba(255, 255, 255, 0.9);
text-align: center;
padding: 20px 0;
font-size: 15px;
border-radius: 10px;
}

@media screen and (max-width: 800px) {
.profile-grid {
  grid-template-columns: 20% 20%;
  justify-content: center;
}
}

.detailed-post-grid {
  display: grid;
  grid-template-columns: 30%;
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
  }
  
  .detailed-post-grid > div {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  border-radius: 10px;
  }
  
  @media screen and (max-width: 800px) {
  .detailed-post-grid {
    grid-template-columns: 20%;
    justify-content: center;
  }
  }
  .comment-grid {
    display: grid;
    grid-template-columns: 20%;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    }
    
    .comment-grid > div {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    border-radius: 10px;
    }
    
    @media screen and (max-width: 800px) {
    .comment-grid {
      grid-template-columns: 15%;
      justify-content: center;
    }
    }
