#avalehenupp{
    background-color: aquamarine;
    background-size: auto;
    transform: scale(2);
}
.avalehelogoke{
    transform: scale(0.5);
}
#tervitusekekodulehel{
    font-size: 40px;
    margin-bottom: 0;
}
.ant-layout-content {
    text-align: center;
    background-color: white;
}
.ant-layout-container {
    text-align: center;
    background-color: white;
}
.ant-layout{
    text-align: center;
    background-color: white;
}

.ant-layout-content h1{
    margin-top: 30px;
    font-size: 50px;
}
.ant-table-wrapper {

    margin-left: 40px;
    margin-right: 40px;
}